<div class="auth-header">
  <a class="back-link" routerLink="/">
    ← Voltar para a página inicial
  </a>
</div>

<section class="auth-card">
  <div class="auth-visual">
    <h2>♻ E-LIXO ZERO</h2>

    <h3>Bem-vindo de volta!</h3>

    <p>
      Entre para acompanhar suas coletas, notificações e histórico de descarte.
    </p>

    <img
      src="images/login.png"
      alt="Ilustração de login"
    />
  </div>

  <div class="auth-form">
    <h1>Entrar</h1>

    <label for="email">E-mail</label>

    <input
      id="email"
      class="form-input"
      type="email"
      placeholder="seu@email.com"
      [(ngModel)]="email"
    />

    <label for="password">Senha</label>

    <input
      id="password"
      class="form-input"
      type="password"
      placeholder="Digite sua senha"
      [(ngModel)]="password"
    />

    <p class="error" *ngIf="error">
      {{ error }}
    </p>

    <button
      class="btn btn-primary full btn-space"
      type="button"
      (click)="login()">

      Entrar

    </button>

    <p class="switch">
      Ainda não tem conta?

      <a routerLink="/register">
        Cadastre-se
      </a>
    </p>
  </div>
</section>
